<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Recipe Ingredient App</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container" style="max-width:400px; margin:64px auto; text-align:center;">
  <div class="logo">🍲</div>
  <h1>Recipe Ingredient App</h1>
  <p>Welcome! Manage your recipes and ingredients easily.<br>
    <span class="accent">Start exploring or add a new recipe.</span>
  </p>
  <div style="margin-top:2em;">
    <a th:href="@{/recipes}" class="button" style="margin-right:1em;">Recipes</a>
    <a th:href="@{/ingredients}" class="button">Ingredients</a>
  </div>
</div>
</body>
</html>